body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "schoolbell", cursive;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.99;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.Extra{
  font-size: 45px;
}

ul{
  font-family: schoolbell,cursive;
}

.bgimg-1 {
  background-image: url("https://images.pexels.com/photos/6459/sand-summer-outside-playing.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  min-height: 100%;
  background-size: 100% 100%;
}

.bgimg-2 {
  background-image: url("assets/img/IMG-20200312-WA0000.jpg");
  min-height: 450px;
  background-size: 100% 100%
}

.bgimg-3 {
  background-image: url("assets/img/20200315_215649.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;

}
.Ingles{
  background-color: #8da9ea78;
   padding: 20px; 
  
     border-radius: 30px 50px; 
     font-size: 45px ;
}

.caption span.border {
  background-color: #ebebeb;
  color: #27e1ff;
  padding: 25px;
  
  font-size: 45px;
  letter-spacing: 5px;
  font-family: schoolbell,cursive;
  border-radius: 50px 100px ;
 
}


h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "schoolbell", cursive;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}



.dancing-video{
  display: grid;
  justify-content: center;

}
video{
  z-index: 1;
}

.background-imagen{
  background-image: url("https://images.pexels.com/photos/6459/sand-summer-outside-playing.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size:cover;
 filter: blur(0.5px);
 z-index: -1;
}










/*Contactos css*/






